<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="resume.css">

</head>
<body>

<div class="resume-box">
	
	<div class="left-section">
		<div class="profile">
		<img src="image/profile.png" class="profile-img">
		<div class="blue-box"></div>
		</div>
		<h2 class="name">PRADEEPA T <br></h2>


		<div class="info">
			<p class="heading">Info</p>
			<p class="p1"><span class="span1"><img src="image/location.jpg"></span>Address<span> <br>Coimbatore,India</span></p>
			<p class="p1"><span class="span1"><img src="image/phone.png"></span>Phone<span> <br>+91 9876543210</span></p>
			<p class="p1"><span class="span1"><img src="image/email.png"></span>Email<span> <br>pradeepa@gmail.com</span></p>
					</div>

		<div class="info">
			<p class="heading">Social</p>
			<p class="p1"><span class="span1"><img src="image/skype.png"></span>Skype<span> <br>www.skype.com</span></p>
			<p class="p1"><span class="span1"><img src="image/twitter.png"></span>Twitter<span> <br>www.twitter.com</span></p>
			<p class="p1"><span class="span1"><img src="image/linkedin.png"></span>Linkdin<span> <br>www.linkdin.com</span></p>
			<p class="p1"><span class="span1"><img src="image/facebook.jpg"></span>Facebook<span> <br>www.facebook.com</span></p>
		</div>

	</div>

	<div class="right-section ">
		<div class="right-heading">
			<img src="image/profile.png">
			<pre class="p2">Profile</pre>
		</div>
		<p class="p3">Self-motivated and highly enthusiastic individual seeking for an opportunity which will test
			my knowledge and make me push my boundaries, enhance my skills, and employ them in
			real-world challenges. </p>

		<div class="clearfix"></div>
		<br><br>
		<div class="right-heading">
			<img src="image/workexperince.png">
			<p class="p2">Achievements and Courses</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<pre class="p4">Technical Achievements</pre>

		</div>

		<div class="right">
			<p class="p3">Completed 50 hours of Virtual Industrial Internship on Industry 4.0
				along with a project conducted by TEKHSOL</p>
	
			
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
			<div class="left">
				<pre class="p4">Soft Skills</pre>
	
			</div>
		<div class="right">
			<p class="p3">Completed an online soft skills course – Career Edge: Knockdown the
				Lockdown by TCS iON</p>
	
			
	

		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
			<div class="left">
				<pre class="p4">Certifications</pre>
	
			</div>
		
	<div class="right">
		<p class="p3">Certified in Building Web Applications in PHP from University of
			Michigan through Coursera.
			</p>

		


	</div>
	<div class="clearfix"></div>
	</div>

		<br>
		<div class="right-heading">
			<img src="image/education.png">
			<p class="p2">Education</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<p class="p4">2019 - 2023</p>
			<p class="p5">Coimbatore</p>
		</div>

		<div class="right">
			<p class="p4">B.E CSE</p>
			<pre class="p5">PSG Institute of Technology and Applied Research </pre>
			
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2009 - 2019</p>
			<p class="p5">Erode</p>
		</div>

		<div class="right">
			<pre class="p4">Higher Secondary</pre>
			<p class="p5">CS Academy</p>
		
		</div>
		<div class="clearfix"></div>
		</div>

		<br>
		<div class="right-heading">
			<img src="image/skill.jpg">
			<pre class="p2">Skill and expertize</pre>
		</div>
		<div class="clearfix"></div>
		<div class="s-box">
			<pre class="p6">C++</pre>
			<div id="progress"></div>
			<pre class="p6">DBMS</pre>
			<div id="progress2"></div>
			
		</div>
		<div class="s-box">
			<pre class="p6">HTML,CSS</pre>
			<div id="progress2"></div>
			<pre class="p6">Flutter</pre>
			<div id="progress3"></div>
		</div>

        <br><br>
		<br><br><br><br>
		<br><br><br><br>
		<div class="right-heading">
			<img src="image/profile.png">
			<pre class="p2">Extra Curricular Activities</pre>
		</div>
		<br>
		<ul>
			<p>
			<li>Winner, Chess Women Anna University Zonals, 2021.</li>
		<li>Winner, Table Tennis Women Anna University Zonals, 2020.</li>
		<li>Winner, Chess, Table Tennis SUDEVA- PSGiTech, 2019.</li>
		<li>Volunteer, Technical Symposium - YUKTAHA, PSGiTech, 2019-2020.</li>
		<li>Volunteer, National Service Scheme(NSS), PSGiTech.</li></ul>
		</div><p>	</div>

		<div class="clearfix"></div>

		

	</div>

		
	
	

</div>



</body>
</html>